# Ignore node_modules (for Node.js/React projects)
node_modules/

# Ignore python environment files
venv/
.venv/
__pycache__/

# Ignore environment variables/passwords/API keys
.env
config.json

# Ignore system files (macOS and Windows)
.DS_Store
Thumbs.db

# Ignore IDE specific folders
.vscode/
.idea/
